trigger:
- master

pool:
  vmImage: 'windows-latest'

variables:
  solution: '**/*.sln'
  buildPlatform: 'any cpu'
  buildConfiguration: 'release'

resources:
- repo: self

steps:
- task: UseDotNet@2
  displayName: 'Use .NET 10 SDK'
  inputs:
    version: 10.x

- task: DotNetCoreCLI@2
  displayName: 'Restore packages'
  inputs:
    command: 'restore'
    projects: '**/*.sln'

- task: DotNetCoreCLI@2
  displayName: 'Build solution'
  inputs:
    command: 'build'
    projects: '**/*.sln'
    arguments: '-c $(BuildConfiguration)'

- script: |
    echo Making published directories
    mkdir published\desktop
    mkdir published\exporter
    mkdir published\api

    echo Publishing "$(System.DefaultWorkingDirectory)\Source\TheBoxSoftware.DeveloperSuite.LiveDocumenter.Exporter\TheBoxSoftware.DeveloperSuite.LiveDocumenter.Exporter.csproj"
    cd "Source\TheBoxSoftware.DeveloperSuite.LiveDocumenter.Exporter"
    dotnet publish -c $(BuildConfiguration) -f net10.0 -o "$(System.DefaultWorkingDirectory)\published\exporter\net10.0"
    cd "$(System.DefaultWorkingDirectory)"

    echo Copying desktop application to release directory
    xcopy /s "Source\TheBoxSoftware.DeveloperSuite.LiveDocumenter\bin\$(BuildConfiguration)\net10.0-windows" "$(System.DefaultWorkingDirectory)\published\desktop"

    echo Release API
    cd "Source\TheBoxSoftware.API.LiveDocumenter\"
    dotnet build -c $(BuildConfiguration) -o "$(System.DefaultWorkingDirectory)\published\api"
    cd "$(System.DefaultWorkingDirectory)"
  displayName: 'Publish .NET Applications'

- task: DotNetCoreCLI@2
  displayName: 'Run tests'
  inputs:
    command: 'test'
    projects: '**/*Tests.csproj'
    arguments: '-c $(BuildConfiguration)'

- task: PublishSymbols@2
  displayName: 'Publish symbols path'
  inputs:
    SearchPattern: '**\bin\**\*.pdb'
    PublishSymbols: false
  continueOnError: true

- task: CopyFiles@2
  displayName: 'Copy build files to: $(build.artifactstagingdirectory)'
  inputs:
    SourceFolder: '$(system.defaultworkingdirectory)'
    Contents: '**\bin\$(BuildConfiguration)\**'
    TargetFolder: '$(build.artifactstagingdirectory)'

- task: CopyFiles@2
  displayName: 'Copy published files to: $(build.artifactstagingdirectory)'
  inputs:
    SourceFolder: '$(system.defaultworkingdirectory)'
    Contents: 'published\**'
    TargetFolder: '$(build.artifactstagingdirectory)'

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact: drop'
  inputs:
    PathtoPublish: '$(build.artifactstagingdirectory)'
