<?xml version="1.0" encoding="UTF-8"?>
<export xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<name>Help Viewer 1: MSDN Lo Band</name>
	<description>MS Help Viewer export of documentation in the style of the MSDN Lo Band website.</description>
	<author>The Box Software</author>
	<version>1.0</version>
	<exporter>helpviewer1</exporter>
	<xslt>webexport.xslt</xslt>

	<outputfiles>
		<file internal="styles/default.css" output="\styles\default.css" />
		<file internal="styles/images/" output="\styles\images\" />
	</outputfiles>
</export>