<?xml version="1.0" encoding="UTF-8"?>
<export xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <name>XML Exporter</name>
	<description>Exports direct to the intermediary XML format.</description>
	<author>The Box Software</author>
	<version>1.1</version>
	<exporter>xml</exporter>
</export>