<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <system.diagnostics>
    <switches>
      <!-- 0 is off, 1 is on -->
      <add name="TRACE" value="0"/>
    </switches>
    <trace autoflush="true" indentsize="3">
      <listeners>
        <remove name="Default"/>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="trace.log"/>
      </listeners>
    </trace>
  </system.diagnostics>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ErrorReportingSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://services.theboxsoftware.com/ErrorReporting.asmx" binding="basicHttpBinding" bindingConfiguration="ErrorReportingSoap" contract="BoxSoftwareServices.ErrorReportingSoap" name="ErrorReportingSoap"/>
    </client>
  </system.serviceModel>

  <system.net>
    <defaultProxy enabled="true" useDefaultCredentials="true">
      <proxy/>
      <bypasslist/>
      <module/>
    </defaultProxy>
  </system.net>

<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
</startup>
</configuration>
