<?xml version="1.0" encoding="UTF-8"?>
<export xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <name>Web Export: MSDN Lo Band Style</name>
	<description>A wesbite export of the documentation in the MSDN Lo Band web style.</description>
	<author>The Box Software</author>
	<version>1.0</version>
	<exporter>web</exporter>
    <xslt>webexport.xslt</xslt>
	<screenshot>screenshot.png</screenshot>
	
    <properties>
		<property name="extension" value="htm" />
    </properties>
    
    <outputfiles>
        <file internal="styles/default.css" output="\styles\default.css" />
        <file internal="styles/images/" output="\styles\images\" />
    </outputfiles>
</export>