<?xml version="1.0" encoding="UTF-8"?>
<export xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<name>HTML Help 1: MSDN Lo Band Style</name>
	<description>A HTML Help Compiled version 1 in the MSDN Lo Band website style.</description>
	<author>The Box Software</author>
	<version>1.0</version>
	<exporter>html1</exporter>
	<xslt>webexport.xslt</xslt>

	<outputfiles>
		<file internal="styles/default.css" output="\styles\default.css" />
		<file internal="styles/images/" output="\styles\images\" />
	</outputfiles>
</export>