<?xml version="1.0" encoding="UTF-8"?>
<export xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <name>Html Help 2: MSDN Lo Band Style</name>
	<description>HTML compiled help version 1 in the MSDN Lo Band website style.</description>
	<author>The Box Software</author>
	<version>1.0</version>
    <exporter>html2</exporter>
    <xslt>webexport.xslt</xslt>
    
    <outputfiles>
        <file internal="stopwords.txt" output="stopwords.txt" />
        <file internal="Documentation_A.HxK" output="Documentation_A.HxK" />
        <file internal="Documentation_B.HxK" output="Documentation_B.HxK" />
        <file internal="Documentation_F.HxK" output="Documentation_F.HxK" />
        <file internal="Documentation_K.HxK" output="Documentation_K.HxK" />
        <file internal="Documentation_NamedUrl.HxK" output="Documentation_NamedUrl.HxK" />
        <file internal="Documentation_S.HxK" output="Documentation_S.HxK" />
        <file internal="styles/default.css" output="\styles\default.css" />
        <file internal="styles/images/" output="\styles\images\" />
    </outputfiles>
</export>