<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="saxon9he" publicKeyToken="e1fdd002d5083fe6" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.2.0.6" newVersion="9.2.0.6" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>