body {
	color:#000000;
	font-family:'Segoe UI',Verdana,Arial;
	font-size:0.813em;
	font-style:normal;
	word-wrap:break-word;
}

a:link {
	color:#1364C4;
	text-decoration:none;
}
a:visited {
	color:#960BB4;
	text-decoration:none;
}

.keyword {
	color: Blue;
}

.navigation {
	border-right:1px solid #BBBBBB;
	float:left;
	margin-right:-1px;
	overflow:hidden;
	padding-bottom:96px;
	text-align:left;
	vertical-align:top;
	width:200px;
}

.navigation ul {
	list-style-type: none;
	margin: 0;
	padding:0px;
}
.navigation ul ul {
padding-left: 1em;
}
.navigation ul li {
}
.navigation a {
	overflow:hidden;
	padding-bottom:4pt;
	padding-top:4pt;
	text-align:left;
	text-decoration:none;
	white-space:nowrap;
}
.content { 
	border-bottom:0 none;
	border-left:1px solid #BBBBBB;
	border-width:1px 1px 0;
	overflow:auto;
	text-align:left;
	padding: 1em;
	padding-top:13px;
	width:auto;
}

h1, h2 {
	color:#3F529C;
	font-family:'Segoe UI',Verdana,Arial;
	font-size:1.769em;
	font-weight:bold;
}

h2 {
	font-size:1.538em;
}

p.namespace {
	font-weight: bold;	
}
p.namespace a {
	font-weight: normal;
}

pre.code,  div.syntax pre {
	font-family:Consolas,Courier,monospace;
	font-style:normal;
	font-weight:normal;
	word-wrap:break-word;
	font-size: 1em;
	
	margin: 1em;
	padding: 1em;
	background-color: #fff;
	
	border: 1px solid #eee;
}